# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=1.0.0=pypi_0
argon2-cffi=20.1.0=py38h2bbff1b_1
astor=0.8.1=pypi_0
astunparse=1.6.3=pypi_0
async_generator=1.10=pyhd3eb1b0_0
attrs=21.2.0=pyhd3eb1b0_0
babel=2.9.1=pypi_0
backcall=0.2.0=pyhd3eb1b0_0
bce-python-sdk=0.8.64=pypi_0
beautifulsoup4=4.11.1=pypi_0
bert-serving-client=1.10.0=pypi_0
bert-serving-server=1.10.0=pypi_0
blas=1.0=mkl
bleach=4.0.0=pyhd3eb1b0_0
blis=0.7.6=pypi_0
bottleneck=1.3.2=py38h2a96729_1
bs4=0.0.1=pypi_0
ca-certificates=2021.10.26=haa95532_4
cachetools=4.2.4=pypi_0
catalogue=2.0.6=pypi_0
certifi=2021.10.8=py38haa95532_0
cffi=1.15.0=py38h2bbff1b_0
cfgv=3.3.1=pypi_0
chardet=4.0.0=pypi_0
charset-normalizer=2.0.9=pypi_0
click=8.0.3=pypi_0
cma=2.7.0=pypi_0
colorama=0.4.4=pyhd3eb1b0_0
colorlog=6.6.0=pypi_0
commonmark=0.9.1=pypi_0
cryptography=36.0.1=pypi_0
cycler=0.11.0=pypi_0
cymem=2.0.6=pypi_0
cython=0.29.28=pypi_0
debugpy=1.5.1=py38hd77b12b_0
decorator=5.1.0=pyhd3eb1b0_0
defusedxml=0.7.1=pyhd3eb1b0_0
dill=0.3.4=pypi_0
distlib=0.3.4=pypi_0
easydict=1.9=pypi_0
entrypoints=0.3=py38_0
et-xmlfile=1.1.0=pypi_0
filelock=3.4.2=pypi_0
flake8=4.0.1=pypi_0
flask=2.0.2=pypi_0
flask-babel=2.0.0=pypi_0
flask-login=0.5.0=pypi_0
flask-sqlalchemy=2.5.1=pypi_0
flatbuffers=2.0=pypi_0
fonttools=4.28.5=pypi_0
funcsigs=1.0.2=pypi_0
future=0.18.2=pypi_0
gast=0.3.3=pypi_0
gitdb=4.0.9=pypi_0
gitpython=3.1.25=pypi_0
google-auth=2.3.3=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
google-pasta=0.2.0=pypi_0
gputil=1.4.0=pypi_0
greenlet=1.1.2=pypi_0
grpcio=1.43.0=pypi_0
h5py=3.6.0=pypi_0
huggingface-hub=0.4.0=pypi_0
icu=58.2=ha925a31_3
identify=2.4.2=pypi_0
idna=3.3=pypi_0
importlib-metadata=4.8.2=py38haa95532_0
importlib_metadata=4.8.2=hd3eb1b0_0
intel-openmp=2021.4.0=haa95532_3556
ipykernel=6.4.1=py38haa95532_1
ipython=7.29.0=py38hd4e2768_0
ipython_genutils=0.2.0=pyhd3eb1b0_1
ipywidgets=7.6.5=pyhd3eb1b0_1
itsdangerous=2.0.1=pypi_0
jedi=0.18.0=py38haa95532_1
jieba=0.42.1=pypi_0
jinja2=3.0.2=pyhd3eb1b0_0
joblib=1.1.0=pypi_0
jpeg=9d=h2bbff1b_0
jsonschema=3.2.0=pyhd3eb1b0_2
jupyter=1.0.0=py38_7
jupyter_client=7.1.0=pyhd3eb1b0_0
jupyter_console=6.4.0=pyhd3eb1b0_0
jupyter_core=4.9.1=py38haa95532_0
jupyterlab_pygments=0.1.2=py_0
jupyterlab_widgets=1.0.0=pyhd3eb1b0_1
keras=2.7.0=pypi_0
keras-applications=1.0.8=pypi_0
keras-preprocessing=1.1.2=pypi_0
keybert=0.5.0=pypi_0
kiwisolver=1.3.2=pypi_0
langcodes=3.3.0=pypi_0
libclang=12.0.0=pypi_0
libpng=1.6.37=h2a8f88b_0
m2w64-gcc-libgfortran=5.3.0=6
m2w64-gcc-libs=5.3.0=7
m2w64-gcc-libs-core=5.3.0=7
m2w64-gmp=6.1.0=2
m2w64-libwinpthread-git=5.0.0.4634.697f757=2
markdown=3.3.6=pypi_0
markupsafe=2.0.1=py38h2bbff1b_0
matplotlib=3.5.1=pypi_0
matplotlib-inline=0.1.2=pyhd3eb1b0_2
mccabe=0.6.1=pypi_0
mistune=0.8.4=py38he774522_1000
mkl=2021.4.0=haa95532_640
mkl-service=2.4.0=py38h2bbff1b_0
mkl_fft=1.3.1=py38h277e83a_0
mkl_random=1.2.2=py38hf11a4ad_0
msys2-conda-epoch=20160418=1
multiprocess=0.70.12.2=pypi_0
murmurhash=1.0.6=pypi_0
nb_conda=2.2.1=py38_1
nb_conda_kernels=2.3.1=py38haa95532_0
nbclient=0.5.3=pyhd3eb1b0_0
nbconvert=6.1.0=py38haa95532_0
nbformat=5.1.3=pyhd3eb1b0_0
nest-asyncio=1.5.1=pyhd3eb1b0_0
nltk=3.6.7=pypi_0
nodeenv=1.6.0=pypi_0
notebook=6.4.6=py38haa95532_0
numexpr=2.8.1=py38hb80d3ca_0
numpy=1.19.3=pypi_0
numpy-base=1.21.5=py38hc2deb75_0
oauthlib=3.1.1=pypi_0
objgraph=3.5.0=pypi_0
onnx=1.9.0=pypi_0
opencv-python=4.2.0.32=pypi_0
openpyxl=3.0.9=pypi_0
openssl=1.1.1m=h2bbff1b_0
opt-einsum=3.3.0=pypi_0
packaging=21.3=pyhd3eb1b0_0
paddle2onnx=0.9.0=pypi_0
paddlehub=2.0.0=pypi_0
paddlenlp=2.2.3=pypi_0
paddlepaddle=2.2.1=pypi_0
pandas=1.3.4=py38h6214cd6_0
pandocfilters=1.4.3=py38haa95532_1
parso=0.8.2=pyhd3eb1b0_0
pathlib=1.0.1=pypi_0
pathy=0.6.1=pypi_0
pdfkit=1.0.0=pypi_0
pickleshare=0.7.5=pyhd3eb1b0_1003
pillow=9.0.0=pypi_0
pip=21.2.2=py38haa95532_0
platformdirs=2.4.1=pypi_0
pre-commit=2.16.0=pypi_0
preshed=3.0.6=pypi_0
prettytable=3.0.0=pypi_0
prometheus_client=0.12.0=pyhd3eb1b0_0
prompt-toolkit=3.0.20=pyhd3eb1b0_0
prompt_toolkit=3.0.20=hd3eb1b0_0
protobuf=3.19.1=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pybind11=2.9.0=pypi_0
pycodestyle=2.8.0=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pycryptodome=3.12.0=pypi_0
pydantic=1.8.2=pypi_0
pyflakes=2.4.0=pypi_0
pygments=2.10.0=pyhd3eb1b0_0
pymysql=1.0.2=pypi_0
pyparsing=3.0.4=pyhd3eb1b0_0
pyqt=5.9.2=py38hd77b12b_6
pyrsistent=0.18.0=py38h196d8e1_0
python=3.8.12=h6244533_0
python-dateutil=2.8.2=pyhd3eb1b0_0
python-graphviz=0.19.1=pypi_0
pytz=2021.3=pyhd3eb1b0_0
pywin32=302=py38h827c3e9_1
pywinpty=0.5.7=py38_0
pyyaml=6.0=pypi_0
pyzmq=22.3.0=py38hd77b12b_2
qt=5.9.7=vc14h73c81de_0
qtconsole=5.2.2=pyhd3eb1b0_0
qtpy=1.11.2=pyhd3eb1b0_0
rarfile=4.0=pypi_0
regex=2021.11.10=pypi_0
requests=2.26.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
rich=11.2.0=pypi_0
rsa=4.8=pypi_0
sacremoses=0.0.47=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.7.3=pypi_0
send2trash=1.8.0=pyhd3eb1b0_1
sentence-transformers=2.2.0=pypi_0
sentencepiece=0.1.96=pypi_0
seqeval=1.2.2=pypi_0
setuptools=60.3.1=pypi_0
shellcheck-py=0.8.0.3=pypi_0
sip=4.19.13=py38hd77b12b_0
six=1.16.0=pyhd3eb1b0_0
sklearn=0.0=pypi_0
smart-open=5.2.1=pypi_0
smmap=5.0.0=pypi_0
snownlp=0.12.3=pypi_0
soupsieve=2.3.2.post1=pypi_0
spacy=3.1.4=pypi_0
spacy-legacy=3.0.8=pypi_0
spacy-loggers=1.0.1=pypi_0
spacy-pkuseg=0.0.28=pypi_0
sqlalchemy=1.4.31=pypi_0
sqlite=3.37.0=h2bbff1b_0
srsly=2.4.2=pypi_0
tb-paddle=0.4.0=pypi_0
tensorboard=2.7.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorflow=2.7.0=pypi_0
tensorflow-estimator=2.7.0=pypi_0
tensorflow-io-gcs-filesystem=0.23.1=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.9.4=py38haa95532_0
testpath=0.5.0=pyhd3eb1b0_0
thinc=8.0.13=pypi_0
threadpoolctl=3.0.0=pypi_0
tokenizers=0.11.5=pypi_0
toml=0.10.2=pypi_0
torch=1.10.2=pypi_0
torchvision=0.11.3=pypi_0
tornado=6.1=py38h2bbff1b_0
tqdm=4.62.3=pypi_0
traitlets=5.1.1=pyhd3eb1b0_0
transformers=4.16.2=pypi_0
typer=0.4.0=pypi_0
typing-extensions=4.0.1=pypi_0
ujson=5.1.0=pypi_0
urllib3=1.26.7=pypi_0
vc=14.2=h21ff451_1
virtualenv=20.13.0=pypi_0
visualdl=2.2.3=pypi_0
vs2015_runtime=14.27.29016=h5e58377_2
wasabi=0.9.0=pypi_0
wcwidth=0.2.5=pyhd3eb1b0_0
webencodings=0.5.1=py38_1
werkzeug=2.0.2=pypi_0
wheel=0.37.0=pyhd3eb1b0_1
widgetsnbextension=3.5.1=py38_0
wincertstore=0.2=py38haa95532_2
winpty=0.4.3=4
wrapt=1.13.3=pypi_0
zh-core-web-sm=3.1.0=pypi_0
zipp=3.6.0=pyhd3eb1b0_0
zlib=1.2.11=h8cc25b3_4
