<!DOCTYPE html>
<html>
	<head>
		<title>test</title>
		<link rel="stylesheet" href="../static/css/classify.css">
	</head>
	<body>
		<form action="" method="post">
		    <select class="dropdown" placeholder="Please choose" name="classifier">
                <option>LogisticRegression</option>
                <option>AdaBoost</option>
                <option>DecisionTree</option>
                <option>KNN</option>
                <option>RandomForest</option>
            </select>
            <label class="switch">
                <input type="checkbox">
                <span>Light</span>
            </label>
            <textarea id="FromText" type="text" name="classify_text" placeholder="Please enter text to be classified"></textarea>
			<input class="btn" type="submit" name="classify" value="classify">
            {% if data %}
                <p class="category">该新闻预测类别为：{{data}}</p>
            {% endif %}
		</form>

		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/classify.js"></script>
	</body>
</html>