<!DOCTYPE html>
<html>
    <head>
        <title>detect</title>
        <link rel="stylesheet" href="../static/css/detect.css" />
    </head>
    <body>
        <div>
			<form action="" method="post">
				<textarea id="FromText" type="text" name="detect_text" placeholder="Please enter text to be detected"></textarea>
				<input class="btn" type="submit" name="detect" value="detect">
                {% if flag %}
                    {% if flag==True %}
                        输入文本包含敏感词
                    {% else %}
                        输入文本不包含敏感词
                    {% endif %}
                {% endif %}
                <textarea id="ToText">{{data}}</textarea>
			</form>
        </div>
    </body>
</html>